<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header :: header"></head>-->
<!--<body>-->

<!--<div th:replace="fragments/bodyHeader :: bodyHeader"></div>-->

<!--<div class="container">-->
<!--    <h1>회원 가입 - 기본 정보 입력</h1>-->
<!--    <form action="/members/register-step1" method="post" th:object="${memberForm}">-->
<!--        <div class="form-group">-->
<!--            <label th:for="name">이름</label>-->
<!--            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요">-->
<!--            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="password">비밀번호</label>-->
<!--            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요">-->
<!--            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="team">소속</label>-->
<!--            <input type="text" th:field="*{team}" class="form-control" placeholder="소속을 입력하세요">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label th:for="memberNumber">학번 / 사번</label>-->
<!--            <input type="text" th:field="*{memberNumber}" class="form-control" placeholder="학번/사번을 입력하세요">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">다음</button>-->
<!--    </form>-->
<!--</div>-->

<!--<div th:replace="fragments/footer :: footer"></div>-->

<!--</body>-->
<!--</html>-->