<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments/header :: header"></head>-->
<!--<body>-->

<!--<div th:replace="fragments/bodyHeader :: bodyHeader"></div>-->

<!--<div class="container">-->
<!--    <h1>이메일 인증</h1>-->
<!--    &lt;!&ndash; 이메일 인증을 위한 폼 &ndash;&gt;-->
<!--    <form action="/members/email-verification" method="post" th:object="${memberForm}">-->
<!--        <div class="form-group">-->
<!--            <label th:for="email">이메일</label>-->
<!--            <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력하세요">-->
<!--            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></div>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-info">인증 코드 발송</button>-->
<!--    </form>-->
<!--    &lt;!&ndash; 사용자에게 알림 메시지를 표시할 수 있는 옵셔널 섹션 &ndash;&gt;-->
<!--    <p th:if="${emailSent}" class="text-success">인증 코드가 이메일로 발송되었습니다. 코드를 확인하고 회원 가입을 계속하세요.</p>-->
<!--</div>-->

<!--<div th:replace="fragments/footer :: footer"></div>-->

<!--</body>-->
<!--</html>-->