<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <!-- 스타일 부분은 동일하게 유지 -->
</head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container">
    <h1 class="text-center">Members Control</h1>

    <form th:action="@{/admin/members-control/update}" th:method="post" th:object="${allMembersInfo}">
        <div class="card mb-4" th:each="ictMember, iterStat : *{ictMembers}">
            <div class="card-header">회원 정보</div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label">이름:</label>
                    <span th:text="${ictMember.name}"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">이메일:</label>
                    <span th:text="${ictMember.email}"></span>
                </div>
                <div class="form-group">
                    <label class="form-label">역할:</label>
                    <select class="form-control" th:field="*{ictMembers[__${iterStat.index}__].role}">
                        <option th:each="role : ${T(ict.board.domain.member.Role).values()}"
                                th:selected="${role != null && ictMember.role != null && role.name() == ictMember.role.name()}"
                                th:text="${role}"
                                th:value="${role}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">초과 근무 휴가 시간:</label>
                    <input class="form-control" th:field="*{ictMembers[__${iterStat.index}__].overtimeVacationHours}"
                           type="number"/>
                </div>
                <div class="form-group">
                    <label class="form-label">남은 휴가 일수:</label>
                    <input class="form-control" th:field="*{ictMembers[__${iterStat.index}__].remainingLeaveDays}"
                           type="number"/>
                </div>
                <input th:field="*{ictMembers[__${iterStat.index}__].id}" type="hidden"/>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">변경 사항 저장</button>
    </form>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>