<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"></head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container my-4">
    <!-- 게시글 세부 정보 -->
    <div class="card">
        <div class="card-header">
            <h3 th:text="${postDetail.getBoard().getTitle()}">게시글 제목</h3>
        </div>
        <div class="card-body">
            <p th:text="${postDetail.getBoard().getContent()}">게시글 내용</p>
            <!-- 이미지 표시 -->
            <div th:if="${imagePath != null}">
                <img th:src="@{'/images/' + ${imagePath}}" alt="게시글 이미지" class="img-fluid"/>
            </div>
        </div>
        <div class="card-footer">
            <small>
                작성자: <span th:text="${postDetail.getBoard().member.getName()}"></span> |
                소속 : <span th:text="${postDetail.getBoard().member.getTeam()}"></span> |
                작성시간: <span
                    th:text="${#temporals.format(postDetail.getBoard().createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성 시간</span>
            </small>
            <div class="mt-2">
                <small>
                    요청자: <span th:text="${postDetail.getBoard().getRequester()}">요청자 이름</span> |
                    위치: <span th:text="${postDetail.getBoard().getRequesterLocation()}">요청자 위치</span>
                </small>
            </div>
            <div class="mt-2">
                <small>
                    민원상태: <span th:text="${postDetail.getBoard().getBoardStatus().getKoreanName()}">민원상태</span>
                </small>
            </div>
            <div class="mt-2">
                <a class="btn btn-secondary d-inline-block me-2" th:href="@{/board/{id}/editForm(id=${postDetail.getBoard.getId()})}"
                   th:if="${postDetail.isLogin}">수정</a>
                <form class="d-inline-block" id="deletePostForm"
                      method="post" th:action="@{/board/{id}/delete(id=${postDetail.getBoard.getId()})}"
                      th:if="${postDetail.isLogin}">
                    <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input name="_method" type="hidden" value="delete"/>
                    <button class="btn btn-danger" onclick="submitDeleteForm()" type="button">삭제</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Status Change Button, visible if isManager is true -->
    <button class="btn btn-secondary" onclick="showStatusChangeForm()" th:if="${postDetail.isManager}" type="button">상태 변경</button>

    <!-- Status Change Form -->
    <div id="statusChangeForm" style="display:none;">
        <form method="post" th:action="@{/board/{id}/changeStatus(id=${postDetail.getBoard.getId()})}">
            <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input checked class="form-check-input" id="UNCHECKED" name="status" type="radio" value="UNCHECKED">
                        <label class="form-check-label" for="UNCHECKED">미조치</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="IN_PROGRESS" name="status" type="radio" value="IN_PROGRESS">
                        <label class="form-check-label" for="IN_PROGRESS">보류</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="COMPLETED" name="status" type="radio" value="COMPLETED">
                        <label class="form-check-label" for="COMPLETED">조치완료</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="NIGHT_SHIFT" name="status" type="radio" value="NIGHT_SHIFT">
                        <label class="form-check-label" for="NIGHT_SHIFT">야간이전</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary mt-2" type="submit">상태 변경</button>
        </form>
    </div>

    <script>
        function showStatusChangeForm() {
            document.getElementById('statusChangeForm').style.display = 'block';
        }

        // JavaScript function to submit the delete form
        function submitDeleteForm() {
            if (confirm('정말 삭제하시겠습니까?')) {
                document.getElementById('deletePostForm').submit();
            }
        }
    </script>

    <br>

    <!-- 댓글 섹션 -->
    <div class="mt-4">
        <h4>댓글</h4>
        <form method="post" th:action="@{/board/{id}/reply(id=${postDetail.getBoard.getId()})}">
            <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <!-- 댓글 입력 필드 -->
            <div class="form-group mt-2">
                <textarea class="form-control" name="reply" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <button class="btn btn-primary mt-2" type="submit">댓글 달기</button>
        </form>
    </div>
    <!-- 댓글 리스트 -->
    <div class="mt-3">
        <ul class="list-unstyled">
            <li th:each="reply : ${postDetail.getReplies()}">
                <div class="card mb-2">
                    <div class="card-body">
                        <p th:text="${reply.content}">댓글 내용</p>
                    </div>
                    <div class="card-footer">
                        <small>
                            작성자: <span th:text="${reply.getMember().getName()}"></span> |
                            소속 : <span th:text="${reply.getMember().getTeam()}"></span> |
                            작성시간: <span th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성 시간</span>
                        </small>
                        <form method="post"
                              th:action="@{/board/{boardId}/reply/delete/{replyId}(boardId=${postDetail.getBoard.getId()}, replyId=${reply.id})}"
                              th:if="${reply.getMember().getEmail() == loginMemberEmail}">
                            <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input name="_method" type="hidden" value="delete"/>
                            <button class="btn btn-danger btn-sm" type="submit">삭제</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>