<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>

<div class="container my-4">
    <!-- 게시글 세부 정보 -->
    <div class="card">
        <div class="card-header">
            <h3 th:text="${postDetail.getBoard().getTitle()}">게시글 제목</h3>
        </div>
        <div class="card-body">
            <p th:text="${postDetail.getBoard().getContent()}">게시글 내용</p>
        </div>
        <div class="card-footer">
            <small>
                작성자: <span th:text="${postDetail.getBoard().member.getName()}"></span> |
                소속 : <span th:text="${postDetail.getBoard().member.getTeam()}"></span> |
                작성시간: <span th:text="${#temporals.format(postDetail.getBoard().createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성 시간</span>
            </small>
            <div class="mt-2">
                <small>
                    요청자: <span th:text="${postDetail.getBoard().getRequester()}">요청자 이름</span> |
                    위치: <span th:text="${postDetail.getBoard().getRequesterLocation()}">요청자 위치</span>
                </small>
            </div>
            <div class="mt-2">
                <small>
                    민원상태: <span th:text="${postDetail.getBoard().getBoardStatus().getKoreanName()}">민원상태</span>
                </small>
            </div>
            <div class="mt-2">
                <a th:if="${postDetail.isLogin}" th:href="@{/board/{id}/editForm(id=${postDetail.getBoard.getId()})}" class="btn btn-secondary d-inline-block me-2">수정</a>
                <form th:if="${postDetail.isLogin}" id="deletePostForm" th:action="@{/board/{id}/delete(id=${postDetail.getBoard.getId()})}" method="post" class="d-inline-block">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="button" onclick="submitDeleteForm()" class="btn btn-danger">삭제</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Status Change Button, visible if isManager is true -->
    <button th:if="${postDetail.isManager}" type="button" class="btn btn-secondary" onclick="showStatusChangeForm()">상태 변경</button>

    <!-- Status Change Form -->
    <div id="statusChangeForm" style="display:none;">
        <form th:action="@{/board/{id}/changeStatus(id=${postDetail.getBoard.getId()})}" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="UNCHECKED" value="UNCHECKED" checked>
                        <label class="form-check-label" for="UNCHECKED">미조치</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="IN_PROGRESS" value="IN_PROGRESS">
                        <label class="form-check-label" for="IN_PROGRESS">보류</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="COMPLETED" value="COMPLETED">
                        <label class="form-check-label" for="COMPLETED">조치완료</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="NIGHT_SHIFT" value="NIGHT_SHIFT">
                        <label class="form-check-label" for="NIGHT_SHIFT">야간이전</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">상태 변경</button>
        </form>
    </div>

    <script>
        function showStatusChangeForm() {
            document.getElementById('statusChangeForm').style.display = 'block';
        }
        // JavaScript function to submit the delete form
        function submitDeleteForm() {
            if (confirm('정말 삭제하시겠습니까?')) {
                document.getElementById('deletePostForm').submit();
            }
        }
    </script>

    <br>

    <!-- 댓글 섹션 -->
    <div class="mt-4">
        <h4>댓글</h4>
        <form th:action="@{/board/{id}/reply(id=${postDetail.getBoard.getId()})}" method="post">
            <!-- 댓글 입력 필드 -->
            <div class="form-group mt-2">
                <textarea class="form-control" name="reply" placeholder="댓글을 입력하세요"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mt-2">댓글 달기</button>
        </form>
    </div>
    <!-- 댓글 리스트 -->
    <div class="mt-3">
        <ul class="list-unstyled">
            <li th:each="reply : ${postDetail.getReplies()}">
                <div class="card mb-2">
                    <div class="card-body">
                        <p th:text="${reply.content}">댓글 내용</p>
                    </div>
                    <div class="card-footer">
                        <small>
                            작성자: <span th:text="${reply.getMember().getName()}"></span> |
                            소속 : <span th:text="${reply.getMember().getTeam()}"></span> |
                            작성시간: <span th:text="${#temporals.format(reply.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성 시간</span>
                        </small>
                        <form th:if="${reply.getMember().getEmail() == loginMemberEmail}" th:action="@{/board/{boardId}/reply/delete/{replyId}(boardId=${postDetail.getBoard.getId()}, replyId=${reply.id})}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-danger btn-sm">삭제</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>