<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>검색 페이지</title>

    <style>
        body {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .container {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            max-width: 1000px;
            margin: auto;
        }

        @media (max-width: 768px) {
            .container {
                padding: 10px;
                box-shadow: none;
            }

            .table-responsive {
                margin-top: 10px;
            }

            .table th, .table td {
                white-space: nowrap;
            }
        }
    </style>

    <script type="text/javascript">
        function handleStatusChange() {
            var status = document.getElementById('statusSelect').value;
            window.location.href = '/search?status=' + status;
        }
    </script>
</head>
<body>

<div class="container my-4">
    <h2>검색 페이지</h2>

    <div class="mb-3">
        <select class="btn btn-outline-secondary" id="statusSelect" onchange="handleStatusChange()"
                th:value="${selectedStatus}">
            <option th:selected="${selectedStatus == 'UNCHECKED'}" value="UNCHECKED">미조치</option>
            <option th:selected="${selectedStatus == 'COMPLETED'}" value="COMPLETED">완료</option>
            <option th:selected="${selectedStatus == 'IN_PROGRESS'}" value="IN_PROGRESS">보류</option>
            <option th:selected="${selectedStatus == 'NIGHT_SHIFT'}" value="NIGHT_SHIFT">야간</option>
        </select>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered board-list">
            <thead class="thead-light">
            <tr>
                <th>요청자</th>
                <th>위치</th>
                <th>내용</th>
                <th>상태</th>
                <th>예약</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td>
                    <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.requester}">요청자</a>
                </td>
                <td>
                    <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.requesterLocation}">위치</a>
                </td>
                <td>
                    <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}">게시글 내용</a>
                </td>
                <td th:text="${board.boardStatus.koreanName}">민원상태</td>
                <td th:text="${board instanceof T(ict.board.domain.board.ReservationBoard) ? #temporals.format(board.reservationDate, 'MM-dd HH:mm') : '-'}">
                    -
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${boards.number == 0} ? 'disabled'">
                <a aria-label="Previous"
                   class="page-link"
                   th:href="@{'/search?status=' + ${selectedStatus} + '&page=' + (${boards.number - 1}) + '&size=' + ${boards.size}}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${page == boards.number} ? 'active'"
                th:each="page : ${#numbers.sequence(0, boards.totalPages - 1)}">
                <a class="page-link"
                   th:href="@{'/search?status=' + ${selectedStatus} + '&page=' + ${page} + '&size=' + ${boards.size}}"
                   th:text="${page + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${boards.number == boards.totalPages - 1} ? 'disabled'">
                <a aria-label="Next"
                   class="page-link"
                   th:href="@{'/search?status=' + ${selectedStatus} + '&page=' + (${boards.number + 1}) + '&size=' + ${boards.size}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

</body>
<div th:replace="fragments/footer :: footer"></div>