/* styles/sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: all 0.3s;
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-header {
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.nav-link {
    color: var(--secondary-color);
    transition: all 0.3s;
}

.nav-link:hover, .nav-link.active {
    color: var(--primary-color);
    background-color: rgba(52, 152, 219, 0.1);
}

.nav-link i {
    margin-right: 10px;
}